{% extends "stylesheet.html" %}
{% block content %}
	<div>
		<br>
		<div class="row">
		  <div class="col l6">
			<h5>The following students participated on this project: </h5>
			<ul>
				<li>Danyal Fatmi</li>
				<li>Czamantha Bello</li>
				<li>Julian Alarcon</li>
				<li>John Marin</li>
			</ul>
		  </div>
		  <div class="col l6">
			<h5>Project Purpose: </h5>
			<p>
				Glow is intended to be an app that allows users to search beauty/makeup products. It should display their product along with price and store location.
				We intended to add the feature of displaying make up tutorials made by people who match that product.
			</p>
		  </div>
		</div>
	</div>
	<div>
		<div class="row">
		  <div class="col">
			<h5 class="center-align">Technologies used in this project:</h5>
			  <ul>
				<li>Python</li>
				<li>Flask</li>
				<li>MaterializeCSS</li>
				  <li>JQuery </li>
			  </ul>
		  </div>
		</div>
	</div>
	<div class="container">

         <form role="form">
        <input type="text" id="txtUsername" name="username" placeholder="Search" >
        <button type="button">Register</button>
      </form>


     </div>
{% endblock %}

